/* ---- reset ---- */
body {
  margin: 0;
}

canvas {
  display: block;
  vertical-align: bottom;
}


/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1b65c6;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

section {
  text-align: center;
  padding: 100px;
  position: relative;
  width 100%;
  
}

h1 {
  font-size: 2em;
  color: white;
  text-align: inherit;
  font-family: 'Roboto', sans-serif;
}

h3 {
  text-align: inherit;
  font-size: 1em;
  color: white;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  opacity: 0.6;
}
