* {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

body {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px 50px;
}


header {
  text-align: center;
}


img.profile-pic {
  max-height: 200px;
  border-radius: 100%;
}

h1  {
  font-size: 1.5em;
  color: #992C18;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  font-size: 1em;
  color: #204A99;
  display: table;
}

nav a svg {
  fill: #204A99
}

nav a:hover {
  color: #E6563B;
}

nav a:hover svg {
  fill: #E6563B;
}

nav a span {
  display: table-cell;
  vertical-align: middle;
  padding-left: 5px;
}

section p {
  text-align: justify;
  font-size: 1em;
  
}

section .language {
  font-style: italic;
  font-size: 0.8em;
}

main .divider {
  background-color: #E6563B;
  width: 30px;
  height: 1px;
  display: block;
  margin: 10px auto;
}

@media (max-width:450px) { 
  nav {
    padding: 0px 20px;
  }

  nav a {
    margin-bottom: 5px;
  }

  nav a span{
    display: none;
  }

  nav a svg{
    width: 40px;
    height: 40px;
  }
}
